
<?xml version="1.0" ?>
<robot name="walls">
  <link name="base">
  <contact>
      <lateral_friction value="1"/>
  </contact>
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
       <mass value=".0"/>
       <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
			<box size="6 6 -0.001"/>
      </geometry>
       <material name="white">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
	 	<box size="6 6 -0.001"/>
      </geometry>
    </collision>
  </link>

  <link name="wall1">
  <contact>
      <lateral_friction value="1"/>
  </contact>
    <inertial>
      <origin rpy="0.4 0 0" xyz="0 35 1"/>
       <mass value=".0"/>
       <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <visual>
      <origin rpy="0.4 0 0" xyz="0 35 1"/>
      <geometry>
			<box size="6 6 -0.001"/>
      </geometry>
       <material name="blue">
        <color rgba="0 0 1 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0.4 0 0" xyz="0 35 1"/>
      <geometry>
	 	<box size="6 6 -0.001"/>
      </geometry>
    </collision>
  </link>

  <joint name="base_to_wall1" type="fixed">
     <parent link="base"/>
     <child link="wall1"/>
  </joint>

  <link name="wall2">
  <contact>
      <lateral_friction value="1"/>
  </contact>
    <inertial>
      <origin rpy="0.8 0 -0" xyz="0 40 2"/>
       <mass value=".0"/>
       <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <visual>
      <origin rpy="0.8 0 -0" xyz="0 40 2"/>
      <geometry>
			<box size="6 6 -0.001"/>
      </geometry>
       <material name="green">
        <color rgba="0 1 0 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0.8 0 -0" xyz="0 40 2"/>
      <geometry>
	 	<box size="6 6 -0.001"/>
      </geometry>
    </collision>
  </link>

  <joint name="wall1_to_wall2" type="fixed">
     <parent link="wall1"/>
     <child link="wall2"/>
  </joint>

  <link name="wall3">
  <contact>
      <lateral_friction value="1"/>
  </contact>
    <inertial>
      <origin rpy="0.9 0 -0" xyz="0 4 2"/>
       <mass value=".0"/>
       <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <visual>
      <origin rpy="0.9 0 -0" xyz="0 4 2"/>
      <geometry>
			<box size="15 15 -0.001"/>
      </geometry>
       <material name="green_2">
        <color rgba="0 1 0 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0.9 0 -0" xyz="0 4 2"/>
      <geometry>
	 	<box size="15 15 -0.001"/>
      </geometry>
    </collision>
  </link>

  <joint name="wall2_to_wall3" type="fixed">
     <parent link="wall2"/>
     <child link="wall3"/>
  </joint>

</robot>