name: Linux CI

on: [pull_request]

jobs:
  build:
    name: ${{ matrix.name }} ${{ matrix.build_type }}
    runs-on: ${{ matrix.os }}

    env:
      CTEST_OUTPUT_ON_FAILURE: ON
      CTEST_PARALLEL_LEVEL: 2
      CMAKE_BUILD_TYPE: ${{ matrix.build_type }}

    strategy:
      fail-fast: false
      matrix:
        # Github Actions requires a single row to be added to the build matrix.
        # See https://help.github.com/en/articles/workflow-syntax-for-github-actions.
        name: [ubuntu-18.04-gcc-9, ubuntu-18.04-clang-10]

        build_type: [Debug, Release]
        include:
          - name: ubuntu-18.04-gcc-9
            os: ubuntu-18.04
            compiler: gcc
            version: "9"

          - name: ubuntu-18.04-clang-10
            os: ubuntu-18.04
            compiler: clang
            version: "10"

    steps:
      - name: Setup Compiler
        run: |
          if [ "${{ matrix.compiler }}" = "gcc" ]; then
            sudo apt-get install -y g++-${{ matrix.version }} g++-${{ matrix.version }}-multilib
            echo "CC=gcc-${{ matrix.version }}" >> $GITHUB_ENV
            echo "CXX=g++-${{ matrix.version }}" >> $GITHUB_ENV

          else
            sudo apt-get install -y clang-${{ matrix.version }} g++-multilib
            echo "CC=clang-${{ matrix.version }}" >> $GITHUB_ENV
            echo "CXX=clang++-${{ matrix.version }}" >> $GITHUB_ENV
          fi

      - name: Install Dependencies
        run: |
          # For SDFormat
          sudo sh -c 'echo "deb http://packages.osrfoundation.org/gazebo/ubuntu-stable `lsb_release -cs` main" > /etc/apt/sources.list.d/gazebo-stable.list'
          sudo apt-key adv --keyserver keyserver.ubuntu.com --recv-keys D2486D2DD83DB69272AFE98867170598AF249743
          sudo apt-get -y update

          sudo apt-get -y install libtbb-dev libboost-all-dev libsdformat10-dev

      - name: GTSAM
        run: |
          git clone https://github.com/borglab/gtsam.git
          cd gtsam
          mkdir build && cd build
          cmake -D GTSAM_BUILD_EXAMPLES_ALWAYS=OFF ..
          sudo make -j$(nproc) install
          sudo ldconfig
          cd ../../ # go back to home directory

      - name: Checkout
        uses: actions/checkout@master

      - name: Build Directory
        run: mkdir build

      - name: Configure
        run: |
          cmake -DGTDYNAMICS_BUILD_PYTHON=OFF -DGTDYNAMICS_BUILD_CABLE_ROBOT=ON -DGTDYNAMICS_BUILD_JUMPING_ROBOT=ON ..
        working-directory: ./build

      - name: Build
        run: make -j$(nproc)
        working-directory: ./build

      - name: Test
        run: make -j$(nproc) check
        working-directory: ./build
