name: Linux CI

on: [pull_request]

# Cancels any in-progress workflow runs for the same PR when a new push is made,
# allowing the runner to become available more quickly for the latest changes.
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build:
    name: ${{ matrix.name }} ${{ matrix.build_type }}
    runs-on: ubuntu-latest
    container:
      image: borglab/gtsam:latest
      env:
        CMAKE_BUILD_TYPE: ${{ matrix.build_type }}
      volumes:
        - ${{ github.workspace }}:/gtdynamics

    env:
      CTEST_OUTPUT_ON_FAILURE: ON
      CTEST_PARALLEL_LEVEL: 2
      CMAKE_BUILD_TYPE: ${{ matrix.build_type }}

    strategy:
      fail-fast: false
      matrix:
        # Github Actions requires a single row to be added to the build matrix.
        # See https://help.github.com/en/articles/workflow-syntax-for-github-actions.
        name: [ubuntu-24.04-gcc-11, ubuntu-24.04-clang-16]

        build_type: [Debug, Release]
        include:
          - name: ubuntu-24.04-gcc-11
            compiler: gcc
            version: "11"

          - name: ubuntu-24.04-clang-16
            compiler: clang
            version: "16"

    steps:
      - name: Setup Compiler
        run: |
          apt-get -y clean && apt-get -y update

          if [ "${{ matrix.compiler }}" = "gcc" ]; then
            apt-get install -y g++-${{ matrix.version }} g++-${{ matrix.version }}-multilib
            echo "CC=gcc-${{ matrix.version }}" >> $GITHUB_ENV
            echo "CXX=g++-${{ matrix.version }}" >> $GITHUB_ENV

          else
            apt-get install -y clang-${{ matrix.version }} g++-multilib
            echo "CC=clang-${{ matrix.version }}" >> $GITHUB_ENV
            echo "CXX=clang++-${{ matrix.version }}" >> $GITHUB_ENV
          fi

      - name: Install Dependencies
        run: |
          # For SDFormat
          apt-get install -y lsb-release
          sh -c 'echo "deb http://packages.osrfoundation.org/gazebo/ubuntu-stable `lsb_release -cs` main" > /etc/apt/sources.list.d/gazebo-stable.list'
          apt-key adv --keyserver keyserver.ubuntu.com --recv-keys D2486D2DD83DB69272AFE98867170598AF249743
          apt-get -y update

          apt-get -y install libsdformat15-dev

          # Install CppUnitLite.
          git clone https://github.com/borglab/CppUnitLite.git
          cd CppUnitLite && mkdir build && cd $_
          cmake .. && make -j4 install
          cd ../../

      - name: Checkout
        uses: actions/checkout@master

      - name: Build Directory
        run: mkdir build

      - name: Configure
        run: |
          cmake -DGTDYNAMICS_BUILD_PYTHON=OFF -DGTSAM_BUILD_WITH_MARCH_NATIVE=OFF ..
        working-directory: ./build

      - name: Build
        run: make -j$(nproc)
        working-directory: ./build

      - name: Test
        run: make -j$(nproc) check
        working-directory: ./build

      - name: Install
        run: make -j$(nproc) install
        working-directory: ./build
