name: macOS CI

on: [push, pull_request]

jobs:
  build:
    name: ${{ matrix.name }} ${{ matrix.build_type }}
    runs-on: ${{ matrix.os }}

    env:
      CTEST_OUTPUT_ON_FAILURE: ON
      CTEST_PARALLEL_LEVEL: 2
      CMAKE_BUILD_TYPE: ${{ matrix.build_type }}
      GTSAM_BUILD_UNSTABLE: ${{ matrix.build_unstable }}
    strategy:
      fail-fast: false
      matrix:
        # Github Actions requires a single row to be added to the build matrix.
        # See https://help.github.com/en/articles/workflow-syntax-for-github-actions.
        name: [macos-14-xcode-15.4]

        build_type: [Debug, Release]
        build_unstable: [ON]
        include:
          - name: macos-14-xcode-15.4
            os: macOS-14
            compiler: xcode
            version: "15.4"

    steps:
      - name: Setup Compiler
        run: |
          if [ "${{ matrix.compiler }}" = "gcc" ]; then
            brew install gcc@${{ matrix.version }}
            echo "CC=gcc-${{ matrix.version }}" >> $GITHUB_ENV
            echo "CXX=g++-${{ matrix.version }}" >> $GITHUB_ENV
          else
            sudo xcode-select -switch /Applications/Xcode_${{ matrix.version }}.app
            echo "CC=clang" >> $GITHUB_ENV
            echo "CXX=clang++" >> $GITHUB_ENV
          fi

      - name: Dependencies
        run: |
          brew install boost
          brew tap osrf/simulation
          brew install sdformat13
          brew tap borglab/core

      - name: GTSAM
        run: brew install --HEAD gtsam@latest

      - name: Checkout
        uses: actions/checkout@v4

      - name: Build Directory
        run: mkdir ./build

      - name: Configure
        run: |
          cmake -DGTDYNAMICS_BUILD_PYTHON=OFF -DGTSAM_BUILD_WITH_MARCH_NATIVE=OFF -DCMAKE_INSTALL_PREFIX=../install ..
        working-directory: ./build

      - name: Build
        run: make -j$(sysctl -n hw.physicalcpu)
        working-directory: ./build

      - name: Test
        run: make -j$(sysctl -n hw.physicalcpu) check
        working-directory: ./build

      - name: Install
        run: make -j$(sysctl -n hw.physicalcpu) install
        working-directory: ./build
